* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    font-size: 14px;
}

#container {
    /* min-height: 100vh; > conseillé pour adaptation aux composant qui viendront se rajouter */
    height: 100vh;
    background: rgba(68, 117, 136, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    margin: 10px;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
    overflow: hidden;
    /* cacher l'overflow des enfants, qui prennent 100% du contenu */
}

.card-header {
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

.card-text {
    padding: 30px;
    background: white;
    color: rgb(120, 120, 120);
}
